{% extends 'base.html' %}

{% block script %}
<script src="{{ url_for('static', filename='chat.js') }}"></script>

<!-- User message template -->
<script id="postMsg1" type="text/x-handlebars-template">

    {% raw -%}
    <div class="card w-75 ml-auto mt-2 mb-2">
        <div class="card-body pb-1" id="msgBod" data-cs="">
            {{ msg }}
            <p class="muted text-right mb-0"><i>{{ user }}: {{ time }}</i></p>
        </div>
    </div>
    {%- endraw %}

</script>

<!-- Other channel user message template -->
<script id="postMsg2" type="text/x-handlebars-template">

    {% raw -%}
    <div class="card w-75 mr-auto mt-2 mb-2">
        <div class="card-body pb-1" id="msgBod" data-cs="">
            {{ msg }}
            <p class="muted text-right mb-0"><i>{{ user }}: {{ time }}</i></p>
        </div>
    </div>
    {%- endraw %}

</script>

<!-- user list template -->
<script id="userList" type="text/x-handlebars-template">

    {% raw -%}
    <i class="fas fa-user"></i> {{ user }}
    {%- endraw %}

</script>
{% endblock %}

{% block title %}
Chat - {{ channel }}
{% endblock %}

{% block body %}

{% if error == 'y' %}
<div class="alert alert-danger" role="alert">
    <strong>{{ err }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="collapse" id="adPan">
    <div class="card mt-0 mb-2">
        <div class="card-body">

            <div class="alert alert-success" role="alert" id="success" hidden>
                Success! Your changes have been saved.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="form-group" id="people">
                <h5>Users:</h5>
                {% for row in joined[channel] %}
                <i class="fas fa-user"></i> {{ row }}
                {% endfor %}
            </div>

            <div class="form-group">
                <h5>Edit channel description:</h5>
                <textarea class="form-control" id="chDes" maxlength="100">{{ chList[1] }}</textarea>
            </div>

            <div class="form-group">
                <button class="btn btn-success" id="save" type="submit">Save Changes</button>
            </div>

        </div>
    </div>
</div>

<div class="card" id="chatBox">
    <div class="card-header" id="channelName" data-name="{{ channel }}" data-admins="{{ admins[channel] }}">
        <div class="row">
            <div class="col-md-6">
                <h4 class="mb-0">{{ channel }}</h4>
            </div>
            <div class="col-md-6 ml-auto text-right">
                Toggle send on enter:
                <label class="switch">
                    <input type="checkbox" id="switch">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="card-body" id="msgBox">

        {% for row in msg %}
        {% if row['room'] == channel %}
        <div class="card w-75 mr-auto mt-2 mb-2" id="{{ row['user'] }}">
            <div class="card-body pb-1" id="staticMsg" data-csb="{{ csb }}" data-cst="{{ cst }}">
                {{ row['msg'] }}
                <p class="muted text-right mb-0"><i>{{ row['user'] }}: {{ row['time'] }}</i></p>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
    <div class="card-footer">
        <div class="input-group-append form-group">
            <textarea name="txtBox" id="txtBox" rows="3" class="form-control" autofocus></textarea>
            <button class="btn btn-success" type="submit" id="send" name="send" disabled>Send</button>
        </div>
    </div>
</div>



{% endblock %}