{% extends 'base.html' %}

{% block script %}
<script src="{{ url_for('static', filename='chat.js') }}"></script>

<script id="postMsg" type="text/x-handlebars-template">

    {% raw -%}
    <div class="card w-75 ml-auto mt-2 mb-2">
        <div class="card-body">
            {{ msg }}
            <p class="text-muted text-right mb-0">{{ user }}</p>
        </div>
    </div>
    {%- endraw %}

</script>
{% endblock %}

{% block title %}
Chat - {{ channel }}
{% endblock %}

{% block body %}

{% if error == 'y' %}
<div class="alert alert-danger" role="alert">
    <strong>{{ err }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="card" id="chatBox">
    <div class="card-header">
        {{ channel }}
    </div>
    <div class="card-body" id="msgBox">

        <div class="card w-75 ml-auto mt-2 mb-2">
            <div class="card-body">
                This is my static test message!
                <p class="text-muted text-right mb-0">Chris</p>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <div class="input-group-append form-group">
            <textarea name="txtBox" id="txtBox" rows="3" class="form-control"></textarea>
            <button class="btn btn-success" type="submit" id="send" name="send">Send</button>
        </div>
    </div>
</div>



{% endblock %}