{% extends 'base.html' %}

{% block script %}
<script src="{{ url_for('static', filename='create.js') }}"></script>
{% endblock %}

{% block title %}
Create Channel
{% endblock %}

{% block body %}

{% if error == 'y' %}
<div class="alert alert-danger" role="alert">
    <strong>{{ err }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<h4 class="mt-5">Create New Channel:</h4>

<form action="{{ url_for('create') }}" method="POST" id="createChannel" class="mt-5">
    <div class="form-group">
        <input type="text" placeholder="Enter Channel Name" class="form-control" name="newChannel" id="newChannel">
    </div>

    <div class="form-group">
        <textarea class="form-control" rows="5" name="newChDes" id="newChDes" placeholder="Channel Description"></textarea>
    </div>
    
    <div class="form-group">
        <label for="newCS">Select a colour scheme for this channel:</label>
        <input type="color" class="form-control" name="newCS" id="newCS">
    </div>

    <div class="form-group">
        <button class="btn btn-success" type="submit" name="create" id="create">Create</button>
    </div>
</form>

{% endblock %}