{% extends 'base.html' %}

{% block script %}
<script src="{{ url_for('static', filename='create.js') }}"></script>
{% endblock %}

{% block title %}
Create Channel
{% endblock %}

{% block body %}

{% if error == 'y' %}
<div class="alert alert-danger" role="alert">
    <strong>{{ err }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<form action="{{ url_for('create') }}" method="POST" id="createChannel" class="mt-5">

    <!-- channel name validation -->
    <div id="valid" class="alert alert-info" role="alert">
        <h4 class="alert-heading">Create New Channel:</h4>
        <hr>
        <p id="err" class="mb-0"></p>
    </div>
    <!-- end of validation -->

    <div class="form-group">
        <input type="text" placeholder="Enter Channel Name" maxlength="50" class="form-control" name="newChannel"
            id="newChannel">
    </div>

    <div class="form-group">
        <textarea class="form-control" rows="5" name="newChDes" id="newChDes" placeholder="Channel Description"
            maxlength="100"></textarea>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Select background and text colours:</span>
            </div>
            <input type="color" class="form-control" name="newCSb" id="newCSb" value="#90EE90">
            <input type="color" class="form-control" name="newCSt" id="newCSt" value="#000000">
        </div>
    </div>

    <div class="form-group">
        <div class="card">
            <div class="card-header">Preview:</div>
            <div class="card-body pb-1" id="preview">
                This is example text. Your messages will go here.
                <p class="muted text-right mb-0"><i>This is muted text. Name & date go here.</i></p>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-success" type="submit" name="create" id="create" disabled>Create</button>
    </div>
</form>

{% endblock %}