{% extends 'base.html' %}

{% block script %}
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block body %}


<h1 class="text-center mt-5 mb-5">Welcome to Talk-space!</h1>

{% if error == 'y' %}
<div class="alert alert-danger" role="alert">
    <strong>{{ err }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div id="greet" class="text-justify mb-5" hidden>
    <h4>Thank you for signing up to Talk-space! You can now chat to other users by searching for a room in the "channels" tab, or create your own channel using the "create" tab. If you create a channel, you can view and edit its details in the "admin" tab.</h4>
</div>

<!-- display name validation -->
<div id="valid" class="alert alert-warning" role="alert">
    <strong id="err"><i>Note: Display names cannot be changed once submitted.</i></strong>
</div>

<div id="register" class="form-group mt-5">
    <label for="#username">Please set a display name.</label>

    <div class="input-group mb-3">
        <input id="username" type="text" placeholder="Enter a display name" maxlength="30" class="form-control">
    </div>
    <div class="input-group-append">
        <button id="confirm" class="btn btn-success" disabled>Confirm</button>
    </div>

</div>

{% endblock %}